<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172150230750-4b2upe7gg6dps23ec57frif2o4vcljhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172150230750-4b2upe7gg6dps23ec57frif2o4vcljhp</string>
	<key>API_KEY</key>
	<string>AIzaSyBjOgo6AaLNJ76PDsu8vuC2Wl9I9oNlBpI</string>
	<key>GCM_SENDER_ID</key>
	<string>172150230750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.femme.clientstaging</string>
	<key>PROJECT_ID</key>
	<string>lafemme-5017a</string>
	<key>STORAGE_BUCKET</key>
	<string>lafemme-5017a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172150230750:ios:9020eba1a29c6e425bbc4f</string>
	<key>DATABASE_URL</key>
	<string>https://lafemme-5017a.firebaseio.com</string>
</dict>
</plist>